<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
ul.nav {
  padding-inline-start: 0;
}
ul.nav li {
  display: inline-block;
}
    </style>
  </head>
  <body>
    <h2>header</h2>
    <hr>
